{%extends "homepage.html"%}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class= "my-3"> My CART </h3>
            <table class="table shadow-lg" border=4>
                <thead>
                    <tr>
                        <th>
                            SN
                        </th>
                        <th>
                            Product
                        </th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproducts_set.all %}

                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>Rs {{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>Rs {{cp.subtotal}}</td>
                        <td>
                            <a href="{%url "ecomapp:managecart" cp.id%}?action=dcr" button class="btn btn-success">-</a>
                            <a href="{%url "ecomapp:managecart" cp.id%}?action=inc"  button class="btn btn-success">+</a>
                            <a href="{%url "ecomapp:managecart" cp.id%}?action=rmv" button class="btn btn-danger">🗑️</a>
                        </td>
                    </tr>


                    
                    {% endfor %}

                    <tr>
                        <th colspan="4" >Total</th>
                        <th>Rs {{cart.total}}</th>

                        {% if cart.cartproducts_set.all %}
                        <th><a href ="{%url "ecomapp:checkout"%}" class = "btn btn-success">Checkout </a></th>
                        {% endif %}
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>





{%endblock%}